<div class="flex w-full gap-3 profile">
  <div class="flex flex-col w-full gap-3 preview">
      <app-experience-preview
        [experienceList]="experienceList"
        (delete)="onDelete($event)"
      ></app-experience-preview>
  </div>
  <div class="flex flex-col w-full gap-5">
    <div class="flex w-full gap-2 items-start">
    <button mat-button class="submit-button primary" (click)="onSave()">Save</button>
    <button mat-button class="submit-button secondary" (click)="onAdd()">Add Experience</button>
    </div>
    <ng-container *ngFor="let form of formGroups">
      <app-experience
        [workExperienceForm]="form"
      ></app-experience>
      <mat-divider></mat-divider>
    </ng-container>

  </div>
</div>
