$colors: orange, #4640de, #57cdad, green;
$repeat: 20;

.inverted {
    border: solid 2px var(--primary-mean);
    color: var(--primary);
    padding: 10px;
    font-weight: 500;
    width: 180px;
    text-align: center;
}

.description {
    text-align: justify;
}

.apply {
    background-color: var(--primary) !important;
    color: white !important;
    width: 100px !important;
}

.progress {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    width: 100%;
    gap: 10px;
}


.company-img {
    margin-bottom: 30px;
    max-height: 250px;
    object-fit: cover;
}

.job-title {
    color: var(--primary);
    margin-bottom: 10px;

}

@for $i from 1 through $repeat {
    #keywords > p:nth-child(#{length($colors)}n + #{$i}) {
        $randomColor: nth($colors, random(length($colors)));
        color: $randomColor;
        border: 2px solid $randomColor;
    }
}

.keyword {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 3px 8px;
    width: auto;
    text-align: center;
    white-space: nowrap;
}

.description-container {
     max-width: 600px;
     margin: 0 auto;
 }

.description-container p {
    white-space: pre-line;
}

.title {
    margin-bottom: 10px;
}
