<div class="flex flex-col p-6 w-full gap-5">
  <ng-container *ngIf="application">
    <mat-stepper
      [linear]="true"
      [selectedIndex]="findCurrentStageId()">
      <mat-step
        *ngFor="let stage of application.job.jobStages"
        [completed]="isTheStageCompleted(application, stage)"
        [editable]="false"
      >
        <ng-template matStepLabel>{{ stage.stageTitle }}</ng-template>
        <div class="flex flex-col gap-7 w-full">
          <img
            class="company-img"
            src="{{ application.job.company.image_url }}"
          />
          <ng-container *ngIf="isTheApplicationActive(); else notActiveApplication">
            <p *ngIf="isAdminUser" class="title">
              {{ application.user.name + " " + application.user.surname }}
            </p>
            <p class="font-medium"> {{ getStepMessage(stage) }}</p>
            <app-experience-preview
              [experienceList]=" application.user.experience"
            >
            </app-experience-preview>
            <div *ngIf="isAdminUser && !isTheApplicantHired()" class="flex gap-5 w-full">
              <button
                (click)="moveApplicationStatus(nextStage.orderNumber)"
                *ngIf="determineNextAction()"
                class="primary w-full"
                mat-button>
                Move to stage {{ nextStage.stageTitle }}
              </button>
              <button (click)="rejectApplication()"
                      class="primary-inverse w-full"
                      mat-button>
                Reject
              </button>
              <button (click)="moveApplicationStatus(hireActionId)"
                      *ngIf="!nextStage"
                      class="primary w-full"
                      mat-button>
                Hire
              </button>
            </div>
          </ng-container>
          <ng-template #notActiveApplication>
            <ng-container *ngIf="isAdminUser; else applicant">
              <ng-container *ngIf="isTheApplicantHired()">Congratulations! You successfully hired the candidate!
              </ng-container>
              <ng-container *ngIf="isTheApplicantRejected()">
                The candidate was rejected with the following message
                <p [innerHTML]="application.finalStageMessage"></p>
              </ng-container>

            </ng-container>
            <ng-template #applicant>
              <ng-container *ngIf="isTheApplicantHired()">Congratulations! You are hired!</ng-container>
              <ng-container *ngIf="isTheApplicantRejected()"><p [innerHTML]="application.finalStageMessage"></p>
              </ng-container>
            </ng-template>
          </ng-template>
        </div>
      </mat-step>
    </mat-stepper>
    <mat-divider></mat-divider>
  </ng-container>

</div>
