<a
  [routerLink]="!showApplicants ? ['/jobs/', job.id] : null"
  class="flex justify-between w-full job-posting"
>
    <div class="flex gap-3 info">
        <img class="logo" src="{{ job.company.image_url }}" />
        <div class="text-info flex flex-col gap-2 justify-between">
            <p class="job-title font-medium">{{ job.title }}</p>
            <p class="place">{{ job.company.email }}</p>
            <div class="flex gap-6">
                  <mat-chip-list>
                    <mat-chip *ngFor="let cat of job.categories; index as index">{{cat.title}}</mat-chip>
                    <mat-chip>{{ job.employment | jobType }}</mat-chip>
                    <mat-chip>{{ job.level | jobLevel }}</mat-chip>
                  </mat-chip-list>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 action">
        <mat-progress-bar
            mode="determinate"
            value="{{ (job.no_applicants / job.max_applications) * 100 }}"
        ></mat-progress-bar>
        <p>{{ job.no_applicants }} applied out of {{ job.max_applications }}</p>
        <div class="w-full flex items-center gap-2">
            <button
                mat-button
                [disabled]="isSaved"
                [ngClass]="{ 'disable-click': isSaved }"
                *ngIf="showSave"
            >
                <mat-icon class="save" (click)="saveJob(job.id)"
                    >bookmark</mat-icon
                >
            </button>
            <button mat-button class="apply w-full" *ngIf="showApply">Apply</button>
            <button
              [routerLink]="[job.id, 'applicants']"
              mat-button class="apply" *ngIf="showApplicants">
                Show Applicants
            </button>
        </div>
    </div>
</a>
