<div class="fuse-vertical-navigation-wrapper">

    <!-- Header -->
    <div class="fuse-vertical-navigation-header">
        <ng-content select="[fuseVerticalNavigationHeader]"></ng-content>
    </div>

    <!-- Content -->
    <div
        class="fuse-vertical-navigation-content"
        fuseScrollbar
        [fuseScrollbarOptions]="{wheelPropagation: inner, suppressScrollX: true}"
        #navigationContent>

        <!-- Content header -->
        <div class="fuse-vertical-navigation-content-header">
            <ng-content select="[fuseVerticalNavigationContentHeader]"></ng-content>
        </div>

        <mat-divider></mat-divider>
        <!-- Items -->
            <div class="flex">
                <div class="flex flex-col pt-2">
                    <div class="w-max" *ngFor="let item of navigation;  trackBy: trackByFn">

                        <div *ngIf="item.type === 'basic'">
                            <fuse-vertical-navigation-basic-item
                                [item]="item"
                                [name]="name">

                            </fuse-vertical-navigation-basic-item>
                        </div>
                        <!-- Collapsable -->
                        <ng-container *ngIf="item.type === 'collapsable'" >
                            <fuse-vertical-navigation-collapsable-item
                                [item]="item"
                                [name]="name"
                                [autoCollapse]="autoCollapse"></fuse-vertical-navigation-collapsable-item>
                        </ng-container>
                    </div>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
            </div>
    </div>

    <!-- Footer -->
    <div class="fuse-vertical-navigation-footer">
        <ng-content select="[fuseVerticalNavigationFooter]"></ng-content>
    </div>

</div>

<!-- Aside -->
<ng-container *ngIf="activeAsideItemId">
    <div
        class="fuse-vertical-navigation-aside-wrapper"
        fuseScrollbar
        [fuseScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}"
        [@fadeInLeft]="position === 'left'"
        [@fadeInRight]="position === 'right'"
        [@fadeOutLeft]="position === 'left'"
        [@fadeOutRight]="position === 'right'">

        <!-- Items -->
        <ng-container *ngFor="let item of navigation; trackBy: trackByFn">

            <!-- Skip the hidden items -->
            <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

                <!-- Aside -->
                <ng-container *ngIf="item.type === 'aside' && item.id === activeAsideItemId">
                    <fuse-vertical-navigation-aside-item
                        [item]="item"
                        [name]="name"
                        [autoCollapse]="autoCollapse"></fuse-vertical-navigation-aside-item>
                </ng-container>

            </ng-container>

        </ng-container>

    </div>
</ng-container>
