<div class="flex flex-col p-6 w-full gap-5">
    <ng-container *ngIf="applicants?.length; else noData">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Application id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="applicant">
                <th mat-header-cell *matHeaderCellDef>Applicant</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.user.name + " " + element.user.surname }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.user.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="job">
                <th mat-header-cell *matHeaderCellDef>Job</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.job.title }}
                </td>
            </ng-container>

          <ng-container matColumnDef="similarity">
            <th mat-header-cell *matHeaderCellDef>Similarity Score</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="!isSimilarityScoreLoading">{{convertToPercentage(element.similarityScore) }}</ng-container>
              <ng-container *ngIf="isSimilarityScoreLoading"><mat-spinner diameter="24"></mat-spinner></ng-container>
            </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                id="rows"
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                [routerLink]="[row.id]"
            ></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
        >
        </mat-paginator>
    </ng-container>
    <ng-template #noData>
        <div class="flex flex-col w-full items-center">
            <img id="no-data" src="assets/images/ui/Hidden-cuate.png"  alt="no data"/>
        </div>
    </ng-template>
</div>
